<div id="itemsContainer">
  <h1>Thank You</h1>
  <!--lecture 9-->
  <p> You have just placed an order.</p>
  
  <table id="customers">
    <tr>
    <!-- @orders is the variable declared in create order method-->
    <% @orders.limit(1).order(id: :desc).each do |order| %>
    <td>Order Reference: <%= order.id %></td>
    <% end %>
    </tr>
    
  </table>
  
  
  <table id ="customers">
  <%  @total = 0 %>
  
  <% @orderitems.each do |id, quantity| %>
  
  <tr>
    <% item = Orderitem.find_by_id(id) %>
    <td><%= item.title %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency(item.price, :unit => "€") %></td>
    <td><% number_to_currency(item.quantity*item.price, :unit => "€") %></td>
    
    <% grandTotal = (item.quantity*item.price) %>
    
    <% @total += grandTotal %>
    
    <% end %>
    
  </tr>
  
  <tr>
    <td>Order Total: €<%= @total %></td>
  </tr>
  <% shipping = 0 %>
  <% @overall = @total + shipping %>
  
  <tr>
    <td>
      Delivery charge: €<%= shipping %>
    </td>
  </tr>
  <tr>
    <td>
      Overall Order Total: <%= number_to_currency(@overall, :unit => "€") %>
    </td>
  </tr>
  </table>
  
  <table id ="customers">
    <tr><a href="paid" class="button">Pay Now</a></tr>
    
  </table>
  
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="byrnewillie@yahoo.ie">

  <!-- Specify a Buy Now button. -->
  <input type="hidden" name="cmd" value="_xclick">

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="silverbirch.ie order number: <%= @order %>"> <!-- variable needs to be set somewhere, maybe in controller-->
  <input type="hidden" name="amount" value="<%= @overall %>">
  <input type="hidden" name="currency_code" value="EUR">

  <input type="hidden" name="notify" value="/paid"> <!--CHECK THIS-->
  <input type="hidden" name="return" value="https://1c5e10683a6943908433a97888d08ea1.vfs.cloud9.us-east-2.amazonaws.com/"><!--is / correct?   -->

  <!-- Display the payment button. -->
  <input type="image" name="submit" border="0"
  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
  alt="Buy Now">
  <img alt="" border="0" width="1" height="1"
  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
  
  
</div>