<% if @cart.empty? %>
<h1>The cart is empty.</h1>.
<br>
<a href="/items" class ="button">Back to Products</a>
<% end %>


<div id="itemsContainer">
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %> 
        
         <% item = Item.find_by_id(id) %>
         
         <tr>
             <td>
               
                 <div class="image">
           
                 <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                 </div>
             </td>
             
             <td class="title">
                 <%= link_to item.title, item %>
             </td>
             
             <td class="title">
              <a href="/cart/remove/<%= item.id %>">Remove From Cart</a>   
            </td>
            
            <td class="price">
               <%= number_to_currency(item.price, :unit =>"€") %>  
            </td>
            
            <td class="quantity"><%= quantity %></td>
            
            <td ="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
             
         </tr>
             <% total += quantity * item.price %> 
             
        <% end %>
        <% if @cart.any? %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Grand Total: <%= number_to_currency(total, :unit =>"€") %></td> 
        </tr>
        <% end %>
    </table>
    
    <% if @cart.any? %>
    <a href="/items" class="button">Continue Shopping</a>
    <a href="/cart/clear" class="button">Clear Cart</a>
    <a href="/checkout" class="button">Checkout</a>
    <% end %>
    
</div>


