<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Order ID:</strong>
 
  <%= @order.id %>
</p>


<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<% end %>


<%= link_to 'Back', "/myOrders" %>

<br>
<br>

<table id ="customers">
  
  
  <tr>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>  
  <% @orderitems.each do |orderitem| %>
  <tr>
    <td> <%= orderitem.title %> </td>
    <td> <%= orderitem.quantity %> </td>
  </tr>
  </tbody>
  
  <% end %>
  
</table>

<br>
<br>


<table id ="customers">
    <tr><a href="/shipped/<%= @order.id %>" class="button">Mark as Shipped</a></tr>
    
  </table>