<% if @items.length == 0 %>
<h2>No Products match your search criteria.</h2>

<br>
<%= render 'layouts/search' %>
<br>

<% end %>

 <div id="itemsContainer">
     
      <% @items.each do |item| %>
      
      <div class="itemhols">
       <h1><%= item.title %></h1>
       
       <%= link_to (image_tag item.image_url, :class => "itemholsIm"), item %>
        <p><%= item.description %></p>
       <p>Price <%= number_to_currency(item.price, :unit => "€") %>
       <br>
        Category: <%= item.category %>
        <br>
        Brand: <%= item.brand %></p>
       
       <p>
        <a href="/cart/<%= item.id %>" class="button">Add To Cart</a>
         <%= link_to 'Show',  item, :class => "button", :role => "button" %>
         
         <% if user_signed_in? %>
         <% if current_user.admin? %>

         <%= link_to 'Edit',  edit_item_path(item), :class => "button", :role => "button" %>
         <%= link_to 'Destroy',  item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
       <% end %>
       <% end %>
       </p>
        
      </div>
    <% end %>
    
</div>
