<header class="headSec">
      <h1>Garden Store</h1>
      
      <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "Products",  "/items" %></li>
        <li><%= link_to "View Cart",  "/cart" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        
        <% if user_signed_in? %>
        
        <li><a h ref="#"> Hello <%= current_user.email %></a></li>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        
        <% else %>
        
        <li><%= link_to "Create account", new_user_registration_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
        
        <% end %>
        
        
      </ul>
</header>